<div class="firstBlock">
    <div class="tripsBlock" (mouseover)=" mouseMove()" (mousedown)="tripsAnimationStart()"
        (mouseup)="tripsAnimationEnd()">
        <div class="tripsBlock__container">
            <div class="tripsBlock__header f-row">
                <div class="f-row animatedColor">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <span class="tripsBlock__header-logo">travelshift</span>
                </div>
            </div>

            <div class="f-row">
            <div class="textBlock">
                <p class="textBlock_text">Lifelong memories,</p>
                <p class="animatedColor">just a few seconds away</p>
            </div>
            <div class="restBlock">
                
            </div>
        </div>
        </div>

    </div>



    <div class="header-circle f-row align-center justify-center">
<p id="dots">..</p>
<p>&#62;</p>
                    
    </div>

    <div id="follower">
        <div id="follower__circle"></div>
        <div id="follower__text">Hold to travel</div>
    </div>
</div>

