@font-face{
    font-family: 'Euclid-Light';
    src: url(../fonts/EuclidSquare-Light.woff);
}

@font-face{
    font-family: 'Euclid-Regular';
    src: url(../fonts/EuclidSquare-Regular.woff);
}

@font-face{
    font-family: 'Euclid-SemiBold';
    src: url(../fonts/EuclidSquare-Semibold.woff);
}

@font-face{
    font-family: 'Euclid-Medium';
    src: url(../fonts/EuclidSquare-Medium.woff);
}