$mainBG: white;
$secondBlockBG: #e1dbcf;

$lightColor: white;
$IcelandColor: rgb(204, 255, 144);

$titleSize: 25px;
$baseSize: 16px;

$baseFont: 'monospace';

$fontRegular: 'Euclid-Regular';
$fontLight: 'Euclid-Light';
$fontSemiBold: 'Euclid-SemiBold';
$fontMedium: 'Euclid-Medium';