<div class="container">

    <app-trips-block></app-trips-block>
    <div class="secondBlock f-row">
        <img class="secondBlock__image" src="../../assets/images/block2.jpg" alt="">
        <div class="secondBlock__text">
            <div class="elasticBlock" style="transform: translateY(0px);">
                <h2 class="baselineBlock__baseline">
                    <p>With
                        <strong>Travelshift
                            <sup>®</sup>
                        </strong>
                        , use your time living your vacation instead of booking it
                    </p>
                </h2>
            </div>
        </div>
    </div>
</div>